<div class="my-3">
    <h5 [ngClass]="{'strike':!todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike':!todo.active}">{{todo.desc}}</p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [id]="todo.sno" (click)="onCheckboxClick()" [checked]="!todo.active">
        <label class="form-check-label" [for]="todo.sno" *ngIf="todo.active">Mark as Done</label>
        <label class="form-check-label" [for]="todo.sno" *ngIf="!todo.active">Completed</label>
    </div>
    <button class="btn btn-sm btn-danger" (click)="onDeleteItem()">Delete</button>
</div>